<div class="w-full h-auto flex flex-col items-start justify-start gap-1.5">
  <label [htmlFor]="id()" class="text-left text-[12px] leading-[16px] font-semibold text-black">
    {{ label() }}

    @if (required()) {
      <span class="text-[var(--color-error)]">*</span>
    }
  </label>

  <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
    <div class="w-full h-auto relative">
      <button
        #triggerButton
        type="button"
        [class]="buttonClasses()"
        [disabled]="isDisabled()"
        (click)="toggleDropdown()"
      >
        {{ selectedLabel() }}
        <img
          src="assets/images/svg/expand_more_24px_tertiary_500.svg"
          alt="Expand more icon"
          [class]="iconClasses()"
        />
      </button>

      @if (isOpenDropdown()) {
        <div
          #scrollContainer
          class="w-full h-auto max-h-[267px] absolute bg-white rounded-lg border border-gray-100 shadow-md flex flex-col items-start justify-start z-30 overflow-hidden"
          [ngClass]="{
            'mt-1 top-full': dropdownDirection() === 'down',
            'mb-1 bottom-full': dropdownDirection() === 'up',
          }"
          appClickOutside
          (clickOutside)="closeDropdown()"
        >
          @if (enableSearch()) {
            <div class="w-full h-auto p-4 border-b border-gray-200">
              <app-input-search
                [placeholder]="searchPlaceholder()"
                (valueChange)="handleSearch($event)"
              ></app-input-search>
            </div>
          }

          <div
            class="w-full h-auto flex flex-col items-start justify-start max-h-[calc(267px-67px)] overflow-y-auto"
          >
            @if (options().length !== 0) {
              @for (option of options(); track option.id) {
                <button
                  type="button"
                  class="w-full h-auto px-4 py-2 text-left text-[12px] leading-[16px] cursor-pointer border-b border-gray-200 last:border-0 transition-all duration-200 ease-out"
                  [ngClass]="{
                    'bg-[var(--color-primary-500)] text-white pointer-events-none':
                      internalValue() === option.id,
                    'hover:bg-gray-100 text-black': internalValue() !== option.id,
                  }"
                  [disabled]="internalValue() === option.id"
                  (click)="handleSelectItem(option.id)"
                >
                  {{ option.label }}
                </button>
              }
            }

            @if (isLoadingMore()) {
              <div class="w-full h-auto px-4 py-2 flex items-center justify-center gap-1">
                <span
                  class="w-full h-full aspect-square max-w-[12px] max-h-[12px] rounded-full border-2 border-[var(--color-tertiary-500)] border-t-transparent animate-spin"
                ></span>
                <p class="text-left text-[12px] leading-[20px] text-[var(--color-tertiary-500)]">
                  Loading...
                </p>
              </div>
            }

            @if (options().length === 0 && !isLoadingMore()) {
              <div class="w-full h-auto p-4">
                <p class="text-center text-[12px] leading-[20px] text-black">No data available</p>
              </div>
            }

            @if (hasMore()) {
              <div #sentinel class="w-full h-[1px]"></div>
            }
          </div>
        </div>
      }
    </div>

    @if (error()) {
      <span class="text-left text-[12px] leading-[16px] text-[var(--color-error)]">
        {{ error() }}
      </span>
    }
  </div>
</div>
