<div class="w-full h-auto flex flex-col items-start justify-start gap-1.5">
  <label [htmlFor]="id()" class="text-left text-[12px] leading-[16px] font-semibold text-black">
    {{ label() }}

    @if (required()) {
      <span class="text-[var(--color-error)]">*</span>
    }
  </label>

  <div class="w-full h-auto flex flex-col items-start justify-start gap-1">
    <div class="w-full h-fit relative">
      <input
        [id]="id()"
        [type]="inputType()"
        [class]="inputClasses()"
        [placeholder]="placeholder()"
        [value]="internalValue()"
        [disabled]="disabled()"
        (input)="handleInput($event)"
        (blur)="handleBlur()"
      />

      <button type="button" [class]="eyeButtonClasses()" (click)="toggleShowPassword()">
        <img
          [src]="
            isShowPassword()
              ? 'assets/images/svg/visibility_off_24px_tertiary_500.svg'
              : 'assets/images/svg/visibility_24px_tertiary_500.svg'
          "
          alt="Eye icon"
          class="w-full h-full aspect-square max-w-[20px] max-h-[20px]"
        />
      </button>
    </div>

    @if (error()) {
      <span class="text-left text-[12px] leading-[16px] text-[var(--color-error)]">
        {{ error() }}
      </span>
    }
  </div>
</div>
